# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.venv/
venv/

# Environment Variables (Secrets)
.env
.env.local

# Database (Local state)
db/*.db
!db/.gitkeep

# Streamlit
.streamlit/

# OS specific
.DS_Store
Thumbs.db
